  
  #stickyButton {
    position: fixed;
    bottom: 20px;
    right: 50%;
    background-color: #4CAF50;
    color: white;
    border: 0.3rem solid #4CAF50;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    z-index: 20;
    background-image: url(../assets/IMG/BG_MenuPopUP.png);
  }
  
  #stickyButton:hover {
    background-color: #45a049;
  }
  