h2 {
    text-align: center;
    margin-top: 20px;
}

.Aboutcontextosection {
    margin-top: 35vh;
    margin-bottom: 20vh;
    padding: 0 10vw;
    /* Establece un margen lateral de 10vw */
}

.Aboutcontextosection h2 {
    background-image: url(../Assets/IMG/BGSubT002.png);
    background-position: center;
    /* Centra la imagen de fondo */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
}

.Aboutcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.Aboutleft-section,
.Aboutright-section {
    flex: 1;
    /* Ambas columnas ocupan el mismo ancho */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Aboutleft-section {
    padding: 20px;
    /* Asegura que haya espacio entre el texto y la imagen */
    background-image: url(../Assets/IMG/ContextoInfoBG.png);
    border-radius: 2%;
    filter: drop-shadow(var(--imagen-sombreado-left));
}

.Aboutleft-section p {
    text-align: justify
}

.Aboutright-section {
    padding-left: 20px;
}

.Aboutright-section img {
    width: 100%;
    /* La imagen ocupará todo el ancho disponible */
    height: auto;
    /* Mantiene la proporción de la imagen */
    max-width: 100%;
    /* La imagen no se sale del contenedor */
}

button {
    padding: 10px 15px;
    background-color: var(--color1);
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    font-size: 0.7rem;
}

button:hover {
    background-color: #508066;
}

/* Estilo del popup */
.Aboutpopup {
    visibility: hidden;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.Aboutpopup-content {
    background-image: url("../Assets/IMG/ContextoInfoBG.png");
    border-radius: 50px;
    object-fit: cover;
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    position: relative;
    text-align: justify;
}

.Aboutpopup-content img {
    display: block;
    object-fit: cover;
    filter: drop-shadow(var(--imagen-sombreado-center));
}

.center-text {
    text-align: center;
}

.AboutPopUPConte {
    
    margin: 5%;
    padding: 0%;
    text-align: justify;
}

.popupimg {
    width: 100%;
    max-width: 100%;
    height: 30%;
}

.Aboutclose {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.Aboutclose:hover {
    color: rgb(149, 9, 9);
}

.Aboutcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.Aboutleft-section,
.Aboutright-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Aboutleft-section {
    flex: 0 0 40%;
    /* La imagen ocupa el 60% */
    padding: 3vw;
    background-image: url(../Assets/IMG/ContextoInfoBG.png);
    border-radius: 2%;
    background-size: cover;
    /* Asegura que la imagen cubra el contenedor */
    background-position: center;
    /* Centra la imagen */

}

.Aboutleft-section p {
    text-align: justify;
}

.Aboutright-section {
    flex: 0 0 55%;
    /* El contenido ocupa el 30% */
    padding-left: 20px;
}

.Aboutright-section img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.Aboutleft-section button {
    padding: 10px 15px;
    background-color: var(--color1);
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    font-size: 0.7rem;
}

button:hover {
    background-color: #508066;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /* Estilos específicos para tabletas */
    /* Estilos específicos para móviles */
    .Aboutleft-section {
        background-image: url(../Assets/IMG/Teaser-mask-gris.png);

        flex: 0 0 100%;
        /* La imagen ocupa el 60% */
        text-align: center;

    }

    .Aboutright-section {
        visibility: hidden;
        display: none;
    }

    .Aboutleft-section button {
        align-self: center;
    }

}

@media only screen and (max-width: 767px) {

    /* Estilos específicos para móviles */
    .Aboutleft-section {
        background-image: url(../Assets/IMG/Teaser-mask-gris.png);

        flex: 0 0 100%;
        /* La imagen ocupa el 60% */
        text-align: center;

    }

    .Aboutright-section {
        visibility: hidden;
        display: none;
    }

    .Aboutleft-section button {
        align-self: center;
    }

}











h2 {
    text-align: center;
    margin-top: 20px;

}

.Aboutcontextosection {
    margin-top: 35vh;
    margin-bottom: 20vh;
    padding: 0 10vw;
    /* Establece un margen lateral de 10vw */

}

.Aboutcontextosection h2 {

    background-image: url(../Assets/IMG/BGSubT002.png);
    background-position: center;
    /* Centra la imagen de fondo */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
}

.Aboutcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.Aboutleft-section,
.Aboutright-section {
    flex: 1;
    /* Ambas columnas ocupan el mismo ancho */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Aboutleft-section {
    padding: 20px;
    /* Asegura que haya espacio entre el texto y la imagen */
    background-image: url(../Assets/IMG/About/Fondo_cafe_oscuro.png);
    border-radius: 2%;

}

.Aboutleft-section p {

    text-align: justify
}

.Aboutright-section {
    padding-left: 20px;
}

.Aboutright-section img {
    width: 100%;
    /* La imagen ocupará todo el ancho disponible */
    height: auto;
    /* Mantiene la proporción de la imagen */
    max-width: 100%;
    /* La imagen no se sale del contenedor */
}

button {
    padding: 10px 15px;
    background-color: var(--color1);
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    font-size: 0.7rem;
}

button:hover {
    background-color: #508066;
}

/* Estilo del popup */
.Aboutpopup {
    visibility: hidden;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Aboutpopup-content {
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    position: relative;
    text-align: justify;
}

.Aboutclose {
    position: static;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.Aboutclose:hover {
    color: red;
}










.Aboutcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.Aboutleft-section,
.Aboutright-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Aboutleft-section {
    flex: 0 0 40%;
    /* La imagen ocupa el 60% */
    padding: 3vw;
    background-image: url(../Assets/IMG/About/contenBulletAbout_1.png);
    border-radius: 2%;
    background-size: cover;
    /* Asegura que la imagen cubra el contenedor */
    background-position: center;
    /* Centra la imagen */
    background-size: 100% 100%;
    /* Estira la imagen para que cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
}



.Aboutleft-section p {
    text-align: justify;
}

.Aboutright-section {
    flex: 0 0 55%;
    /* El contenido ocupa el 30% */
    padding-left: 20px;
}

.Aboutright-section img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.Aboutleft-section button {
    padding: 10px 15px;
    background-color: var(--color1);
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    font-size: 0.7rem;
}

button:hover {
    background-color: #508066;
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /* Estilos específicos para tabletas */
    /* Estilos específicos para móviles */
    .Aboutleft-section {
        background-image: url(../Assets/IMG/About/bgBomtenHistory.png);
        background-size: 100% 100%;
        /* Estira la imagen para que cubra todo el contenedor */
        background-position: center;
        /* Centra la imagen */
        background-repeat: no-repeat;
        /* Evita que la imagen se repita */
        flex: 0 0 100%;
        /* La imagen ocupa el 60% */
        text-align: center;
        padding-bottom: 10vh;

    }

    .Aboutright-section {
        visibility: hidden;
        display: none;
    }

    .Aboutleft-section button {
        align-self: center;
    }

}

@media only screen and (max-width: 767px) {

    /* Estilos específicos para móviles */
    .Aboutleft-section {
        background-image: url(../Assets/IMG/About/bgBomtenHistory.png);
        background-size: 100% 100%;
        /* Estira la imagen para que cubra todo el contenedor */
        background-position: center;
        /* Centra la imagen */
        background-repeat: no-repeat;
        /* Evita que la imagen se repita */
        flex: 0 0 100%;
        /* La imagen ocupa el 60% */
        text-align: center;
        padding-bottom: 10vh;

    }

    .Aboutright-section {
        visibility: hidden;
        display: none;
    }

    .Aboutleft-section button {
        align-self: center;
    }

}