/* ---------------------- TÍTULOS GENERALES ---------------------- */


/* ---------------------- SECCIÓN CONTEXTO ---------------------- */
.Aboutcontextosection {
    margin: 35vh 0 20vh;
    padding: 0 10vw;
}

.Aboutcontextosection h2 {
    background-image: url(../Assets/IMG/BGSubT002.png);
    background-position: center;
    background-repeat: no-repeat;
}

/* ---------------------- CONTENIDO PRINCIPAL ---------------------- */
.Aboutcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* ----------- Secciones Izquierda y Derecha ----------- */
.Aboutleft-section,
.Aboutright-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ----------- Estilo general de la sección izquierda ----------- */
.Aboutleft-section {
    flex: 0 0 40%;
    padding: 3vw;
    background-image: url(../Assets/IMG/About/contenBulletAbout_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 2%;
}

.Aboutleft-section p {
    text-align: justify;
}

/* ----------- Sección derecha ----------- */
.Aboutright-section {
    flex: 0 0 55%;
    padding-left: 20px;
}

.Aboutright-section img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

/* ---------------------- POPUP ---------------------- */
.Aboutpopup {
    visibility: hidden;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.Aboutpopup-content {
    width: 80%;
    height: 80%;
    max-width: 600px;
    background-image: url("../Assets/IMG/ContextoInfoBG.png");
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.Aboutpopup-content img {
    display: block;
    object-fit: cover;
    filter: drop-shadow(var(--imagen-sombreado-center));
}

.AboutPopUPConte {
    margin: 5%;
    padding: 0;
    text-align: justify;
}

.popupimg {
    width: 100%;
    max-width: 100%;
    height: 30%;
}

.Aboutclose {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.Aboutclose:hover {
    color: rgb(149, 9, 9);
}

/* ---------------------- RESPONSIVE ---------------------- */

/* TABLET & MOBILE (≤ 1024px) */
@media only screen and (max-width: 1024px) {
    .Aboutleft-section {
        flex: 0 0 100%;
        text-align: center;
        padding-bottom: 10vh;
        background-image: url(../Assets/IMG/About/bgBomtenHistory.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        align-items: center;
    }
    
    .Aboutright-section {
        display: none;
        visibility: hidden;
    }

    .Aboutleft-section p {
        text-align: center;
    }
}
