/* Estilos generales (para móviles como base) */
.banner {
    position: relative; /* Necesario para el posicionamiento del video */
    margin: 0;
    padding: 0; /* Reducir padding del banner en móviles */
    width: 100%;
    height: 100vh; /* Aseguramos que el banner ocupe toda la pantalla */
    display: flex;
    justify-content: center; /* Posición en X */
    align-items: flex-end; /* Posición en Y */
    overflow: hidden; /* Asegura que nada sobresalga */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

/* Estilo del video de fondo */
.banner-video {
    position: absolute; /* Posicionar el video detrás del contenido */
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1; /* Asegúrate de que el video esté detrás */
    transform: translate(-50%, -50%); /* Centrar el video */
    object-fit: cover; /* Asegura que el video cubra todo el espacio */
}

/*banner */
.banner-content {
    margin-left: 0vw;   
    position: relative; 
    /*background-color: rgba(255, 255, 255, 0.7);*/
    border-top-left-radius: 500px; 
    border-top-right-radius: 500px; 
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%; 
    padding: 3rem;
    padding-bottom: 30vh;
    width: 100%;
    max-width: 500px; 
    height: 150px; /* Altura de circulito */
    z-index: 1; 
    text-align: center;
    color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}


.buttons .btn-transparent{
    color: black;
    font-size: larger;
}

.buttons .btn-primary {

    font-size: larger;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Estilos específicos para tabletas */
    .banner{
        justify-content: center  
    }
    .banner-content {
        margin: 0vw;   
     /* background-color: rgba(255, 255, 255, 0.5);  Fondo con opacidad para contraste */  
      max-width: 80vw; /* Limitar el ancho máximo */
      text-align: center; /* Alineación del texto a la izquierda */
      justify-content: center; /* Alineación vertical hacia la parte superior */
      align-items: center; /* Alineación horizontal a la izquierda */
      
    }
}
@media only screen and (max-width: 767px) {    
    /* Estilos específicos para móviles */
    .banner{
        justify-content: center  
    }
    .banner-content {
        margin: 0vw;   
      /*background-color: rgba(255, 255, 255, 0.5); /* Fondo con opacidad para contraste */  
      max-width: 100vw; /* Limitar el ancho máximo */
      height: 100vh;
      text-align: center; /* Alineación del texto a la izquierda */
      justify-content: center; /* Alineación vertical hacia la parte superior */
      align-items: center; /* Alineación horizontal a la izquierda */
      
      border-top-left-radius: 0; 
      border-top-right-radius: 0; 
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; 
    }
}
