.histoy-nav {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.puntoRojo {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #C8AA97;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.puntoAzul {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(76, 0, 255, 0);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barcoimg {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #ccc;
    display: block;
    text-align: center;
    line-height: 80px;
    font-size: 14px;
    color: white;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.histoy-caqueta,
.histoy-Guaviare,
.histoy-AMAZONAS {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: 0 5vw;
    box-sizing: border-box;
    align-items: center;
    filter: drop-shadow(10px 10px 5px gray);
}

.histoy-putumayo,
.histoy-baupez {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: 0 5vw;
    box-sizing: border-box;
    flex-direction: row-reverse;
    align-items: center;
    filter: drop-shadow(10px 10px 5px gray);
}

.Aboutpopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.Aboutpopup-content {
    scrollbar-width: none;          /* Firefox */
    -ms-overflow-style: none;  
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    max-height: 80vh; /* Limita la altura al 80% del alto de la pantalla */
    overflow-y: auto;  /* Habilita el scroll vertical si es necesario */
    position: relative;
}

.Aboutclose {
    position: static;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.popupimg {
    width: 100%;
    height: 30vh;
    border-radius: 8px;
    margin-bottom: 15px;
}

.AboutPopUPConte {
    text-align: justify; /* Mejora la legibilidad del texto */
    line-height: 1.5;
}




.content-text-histoy {
    height: 60vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-image: url(../Assets/IMG/Hitoria/bgBomtenHistory_2.png);
    border-radius: 2%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 15vh;
}


.content-text-histoy h4{
    height: 40%;
}

.content-image-histoy{
    width: 50%;

}
.content-image-histoy img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Estilos específicos para tabletas */
    .histoy-nav {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width: 767px) {
    /* Estilos específicos para móviles */
    .histoy-nav {
        display: none;
        visibility: hidden;
    }
}