header {
  background-color: var(--color1);
  padding: 3px 3vw;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5vh 5vw;
}

.menu-left {
  display: flex;
  gap: 10px;
}

.menu-left img.logo {
  height: 40px;
  margin: 4px;
  width: auto;
}

.menu-center,
.menu-right {
  display: flex;
}
.menu-right{
  display: flex;
  flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;

}
.menu-center ul,
.menu-right ul {
  list-style: none;
  display: flex;
}

.menu-center ul li,
.menu-right ul li {
  margin: 0 0px;
}

.menu-center ul li a {
  color: #e9d3ab;
  text-decoration: none;
  font-family: 'HTOWERT';
  font-size: 14px;
  padding: 5px 10px;
}




.menu-center ul li:not(:last-child) {
  border-right: 1px solid #e9d3ab; /* Línea de separación entre los elementos */
}





.menu-right ul li a {
  color: #e9d3ab;
  text-decoration: none;
  font-family: 'HTOWERT';
  font-size: 16px;
  padding: 5px 5px;
}

.menu-center ul li a:hover {
  text-decoration: underline;
}

.menu-right ul li a:hover {
  text-decoration: underline;
}

.menu-right > div:not(:last-child) {
  border-right: 1px solid #e9d3ab; /* Línea de separación */
  padding-right: 20px; /* Espacio entre la línea y los elementos */
}



.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #fff;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .menu-center,
  .menu-right {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }
}
@media only screen and (max-width: 767px) {

  .menu-center,
  .menu-right {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }
}


.image-idioma {
  border-radius: 50%;
  filter: grayscale(60%);
  transition: filter 0.3s ease;
}


.idiomas ul li img,
.redes ul li img {
  border-radius: 50%;
  /* Hace que las imágenes sean círculos */
  filter: grayscale(60%);


}

/* Estilos para las imágenes de las redes sociales */
.menu-right .redes ul li a img {
  filter: brightness(0) invert(1);
  /* Cambia los íconos SVG a blanco */
}

.idiomas ul li img:hover {
  border-radius: 50%;
  /* Hace que las imágenes sean círculos */
  filter: grayscale(0%);



}














/* Estilo del Popup */
.mobile-menupopup {
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Estilo del contenido del Popup */
.mobile-menupopup-content {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
  background-image: url('../Assets/IMG/ContextoInfoBG.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 10px; /* Borde redondeado más suave */
  position: relative;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea el contenido al inicio */
  align-items: center;
}

/* Estilo de la lista de menús */
.menu-list-mobile ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center; /* Alinea los elementos centrados */
}

.menu-list-mobile ul li {
  margin-bottom: 20px;
}

.menu-list-mobile ul li a {
  font-size: 22px;
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-list-mobile ul li a:hover {
  background-color: #f39c12; /* Cambia el fondo al pasar el ratón */
  color: #fff; /* Cambia el color del texto */
}

/* Estilo para el botón de cerrar */
#close-mobile-menubtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

/* Estilo de las redes sociales */
.menu-right-mobile .redes ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.menu-right-mobile .redes ul li a img {
  width: 30px;
  height: 30px;
}

/* Estilo de los idiomas */
.menu-right-mobile .idiomas ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.menu-right-mobile .idiomas ul li a img {
  width: 24px;
  height: 24px;
}
