/* Definición de Variables CSS */
:root {
    --separator-color-1: rgba(255, 255, 255, 0);        /* Color transparente */
    --separator-color-2: rgba(241, 196, 15, 0);         /* Color amarillo */
    --separator-color-3: rgba(46, 204, 113, 0);         /* Color verde */
    --separator-color-4: rgba(156, 89, 182, 0);         /* Color morado */
    --separator-height-mobile: 0vh;                       /* Altura del separador en móviles */
    --separator-height-tablet: 5vh;                       /* Altura del separador en tabletas */
    --separator-height-desktop: 20vh;                     /* Altura del separador en escritorios */
}

/* Estilos generales para móviles como base */
.separator {
    position: relative;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;     /* Centra el contenido verticalmente */
    height: var(--separator-height-mobile); /* Altura ajustada en móviles */
    overflow: visible;       /* Permite que los colores se superpongan */
}

.separator-image {
    width: 100%;             /* Ancho completo */
    position: absolute;
    z-index: 5;              /* Asegúrate de que los bloques estén por encima del fondo */
    display: flex;           /* Permite centrar los elementos dentro */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;     /* Centra los elementos verticalmente */
}

.separator-image img {
    width: 100%;             /* Para imágenes más grandes en móviles */
    height: auto;            /* Mantener la relación de aspecto */
    overflow-x: hidden;      /* Asegura que no se desborden las imágenes horizontalmente */
}

/* Colores de fondo de los bloques */
.color1 { background-color: var(--separator-color-1); }
.color2 { background-color: var(--separator-color-2); }
.color3 { background-color: var(--separator-color-3); }
.color4 { background-color: var(--separator-color-4); }

/* Media Query para pantallas de tabletas y más grandes */
@media screen and (min-width: 768px) {
    .separator {
        height: var(--separator-height-tablet);  /* Ajuste de altura para tabletas */
    }
}

/* Media Query para pantallas de escritorio y más grandes */
@media screen and (min-width: 1024px) {
    .separator {
        height: var(--separator-height-desktop); /* Ajuste de altura para escritorios */
    }
}
