/* Estilo del contenedor principal */
.Productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;  /* Espacio entre las tarjetas */
    width: 100%;
    max-width: 75rem;  /* 1200px */
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
    height: auto;
}

/* Estilo de las tarjetas */
.card {
    position: relative;
    width: 100%;  /* En móviles, las tarjetas ocupan toda la pantalla */
    height: 300px;  /* Altura fija para las tarjetas en móviles */
    background-size: cover;
    background-position: center;
    border-radius: 0.625rem;
    overflow: hidden;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    opacity: 0.8;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Efecto al hacer hover en las tarjetas */
.card:hover {
    transform: scale(1.05);  /* Aumenta el tamaño ligeramente */
    opacity: 1;
    z-index: 5;
}

/* Estilo para las tarjetas que no están en hover */
.card:not(:hover) {
    opacity: 0.7;
}

/* Contenedor de texto dentro de la tarjeta */
.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

/* Estilo del título dentro de la tarjeta */
.title {
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.7);
    margin-bottom: 0.625rem;
}

/* Estilo de la descripción dentro de la tarjeta */
.description {
    opacity: 0;
    display: none;
    visibility: hidden;
    font-size: 1rem;
    font-weight: 300;
    transition: opacity 0.4s ease-out;
}

/* Mostrar la descripción solo en hover */
.card:hover .description {
    opacity: 1;
    display: flex;
    visibility: visible;
}

/* Estilos para pantallas con un ancho mínimo de 768px (tabletas y pantallas medianas) */
@media screen and (min-width: 768px) {
    .Productos {
        gap: 1.5rem;  /* Aumentar el espacio entre tarjetas */
        height: auto; /* Ajustar la altura al contenido */
    }

    .card {
        width: calc(50% - 1rem); /* Ocupa el 50% del contenedor en tabletas */
        height: 350px;  /* Aumento de altura en pantallas medianas */
    }
}

/* Estilos para pantallas con un ancho mínimo de 1024px (pantallas grandes de escritorio) */
@media screen and (min-width: 1024px) {
    .Productos {
        gap: 0rem;  /* Mantener espacio entre tarjetas */
        height: auto;
        margin: 0;
        padding: 0;

        width: 100%;
        max-width: 100%;
    }

    .card {
        width: calc(20% - .0rem);  /* 3 tarjetas por fila en pantallas grandes */
        height: 60vh;  /* Altura fija de las tarjetas */
    }
}
