/* Contenedor que centrará todo el contenido en la pantalla */
.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; /* Ajustar la altura a la ventana */
  text-align: center;
  padding: 0 2%; /* Añadir padding lateral para pantallas pequeñas */
}

/* Estilos para el video y la máscara */
.video-container {
  position: relative;
  padding: 2% 0;
  width: 100%; /* Asegura que el contenedor tenga el 100% del ancho */
  max-width: 100vw; /* Evita que el video se desborde en pantallas grandes */
  margin: 0 auto; /* Centrado en la pantalla */
}

/* Usamos aspect-ratio para mantener la relación de aspecto */
.video-wrapper {
  width: 70%;
  aspect-ratio: 16 / 9; /* Relación de aspecto estándar de video */
  max-width: 100%; /* Evita que se desborde */
  max-height: auto; /* Máxima altura del video será el 80% de la altura de la ventana */
  overflow: hidden;
  position: relative; /* Para los controles y la máscara */
  transform: rotate(3deg); /* Rotación sutil del video */
  margin: 0 auto; /* Centrado automático */
}

/* Estilo del video */
#video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video cubra el área */
}

/* Estilos para la imagen que servirá como máscara */
.video-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra toda la superficie sin distorsionarse */
  opacity: 0.6; /* Opacidad de la máscara */
  pointer-events: none; /* Evita que la máscara bloquee los controles del video */
}

/* Media Query para pantallas pequeñas (móviles) */
@media screen and (max-width: 768px) {
  .video-wrapper {
      aspect-ratio: 16 / 9; /* Mantiene la relación de aspecto */
      transform: rotate(0deg); /* Elimina la rotación en pantallas pequeñas */
  }

  .video-mask {
      opacity: 0.5; /* Reduce la opacidad en pantallas pequeñas para mayor visibilidad */
  }
}

/* Media Query para pantallas grandes (escritorio) */
@media screen and (min-width: 1024px) {
  .video-wrapper {
      aspect-ratio: 16 / 9; /* Mantiene la relación de aspecto */
      transform: rotate(3deg); /* Mantiene la rotación en pantallas grandes */
  }

  .video-mask {
      opacity: 0.7; /* Más opacidad en pantallas grandes */
  }
}
