/* Estilo principal del contenedor */
.main-container {
  height: 90vh;
  margin: 0vh 0vw;
  padding: 2.5rem 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  background-image: url(../Assets/IMG/bgCarpeta2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(10px 10px 5px gray);
}

/* Contenedor de contenido */
.content-container {
  display: flex;
  justify-content: space-between;
  gap: 0vw;
  width: 35%;
  height: 70%;
  background: url(../Assets/IMG/testimonios/carpeta2.png) no-repeat center;
  background-size: 100% 100%;
}

/* Estilos de la sección izquierda */
.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  padding: 1.25rem;
  flex: 0;
}

/* Estilos para los círculos */
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.644));
}

.circle {
  width: var(--font-size-h4);
  height: var(--font-size-h4);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

/* Sección derecha */
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
  flex: 1;
  height: 100%;
  overflow-wrap: break-word;
  padding: 0 2VW 0 0
}

.right-section p {
  word-break: break-word;
  margin-right: 2.5vw;
}

/* Imagen de testimonio */
.testimonios-image {
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.testimonios-image img {
  width: 95%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  filter: drop-shadow(var(--imagen-sombreado-right));
}

/* Títulos */
.testimonios h2 {
  background: url(../Assets/IMG/BGSubT.png) no-repeat center;
}

.testimonios-text {
  display: flex;
  justify-content: flex-end;
  gap: 1.25rem;
  text-align: center;
}

.testimonios-title-primary,
.testimonios-title-secondary {
  text-transform: uppercase;
  word-wrap: break-word;
}

.testimonios-title-primary {
  color: var(--color3); /* Verde */
}

.testimonios-title-secondary {
  color: var(--color1); /* Azul */
}

/* =======================
   Responsive Styles
======================= */

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-container {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    gap: 2vh;
    background: url(../Assets/IMG/testimonios/carpeta1.png) no-repeat center;
    background-size: cover;
  }

  .content-container {
    margin: 0;
    padding: 2VH 2VW;
    position: relative;
    width: 100%;
    height: 40VH;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: flex-end;
    gap: 0; 
    bottom: 10vh;
    z-index: 1;
    background-size: 100%;
    background-position: center;  
  }

  .left-section {
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: auto;
    height: 40vh;
  }

  .right-section {
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 2vh 0 0 0;
    flex: none;
    justify-content: flex-center;
    align-items: center;   
    height: 80%; 
  }


  .testimonios-image {
    
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .testimonios-image img{
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

/* Móviles */
@media only screen and (max-width: 767px) {
  .main-container {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    gap: 2vh;
    background: url(../Assets/IMG/testimonios/carpeta1.png) no-repeat center;
    background-size: cover;
  }

  .content-container {
    margin: 0;
    padding: 2VH 2VW;
    position: relative;
    width: 100%;
    height: 40VH;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: flex-end;
    gap: 0; 
    bottom: 0vh;
    z-index: 1;
    background-size: 100%;
    background-position: center;  
  }

  .left-section {
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: auto;
    height: 40vh;
  }

  .right-section {
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 2vh 0 0 0;
    flex: none;
    justify-content: flex-center;
    align-items: center;   
    height: 80%; 
  }


  .testimonios-image {
    
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .testimonios-image img{
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
